<%- include('include/_header.ejs') %>

<main id="main-site" class="justify-content-center container">
  <div class="container">
    <div class="box-nav d-flex-justify-between">
      <a href="/" class="border-shadow btn btn-outline-primary mb-3">
        All Users <i class="fa fa-angle-double-left"></i>
      </a>
    </div>
  </div>

  <div class="form-title text-center">
    <h2 class="text-dark">New User</h2>
    <span class="">Create Another Account</span>
  </div>

  <%- include('include/_form.ejs') %>

</main>
<%- include('include/_footer.ejs') %>